<footer class="site-footer">
  <div class="footer-left">
    <span class="copyright">© 2025 Diode Foundation, All Rights Reserved</span>
  </div>

  <div class="footer-center">
    <a href="{{ site.baseurl }}/#hero-section" class="foundation-link">DIODE FOUNDATION</a>
  </div>

  <div class="footer-right">
    <a href="https://www.youtube.com/channel/UC3b5voADiipUmq1Q-vtPKsA" title="YouTube" target="_blank"
      rel="noopener noreferrer">
      <img width="35px" src="{{ '/assets/images/youtube.svg' | relative_url }}" alt="YouTube" />
    </a>

    <a href="https://x.com/diode_chain" title="X (Twitter)" target="_blank" rel="noopener noreferrer"
      class="footer-icon">
      <img src="{{ 'assets/images/x-black.svg' | relative_url }}" alt="X" />
    </a>

    <a href="https://discord.gg/qdGCAKJdHs" class="sidebar-footer-icon" title="Discord" target="_blank"
      rel="noopener noreferrer"   class="footer-icon">
      <img src="{{ '/assets/images/icons/discord-black.svg' | relative_url }}" alt="Discord"  />
    </a>

    <a href="https://github.com/diodechain" title="GitHub" target="_blank" rel="noopener noreferrer"
      class="footer-icon">
      <img src="{{ '/assets/images/github-black.svg' | relative_url }}" alt="GitHub" />
    </a>
  </div>
</footer>