<footer class="site-footer">
  <div class="footer-left">
    <span class="copyright">© 2025 All rights reserved</span>
  </div>
  
  <div class="footer-center">
    <a href="/" class="foundation-link">DIODE FOUNDATION</a>
  </div>
  
  <div class="footer-right">
    <a href="#"  title="YouTube">
      <img width="35px" src="{{ '/assets/images/youtube.svg' | relative_url }}" alt="YouTube" />
    </a>
    
    <a href="#" class="footer-icon" title="X (Twitter)">
      <img src="{{ 'assets/images/x-black.svg' | relative_url }}" alt="X" />
    </a>
    
    <a href="#" class="footer-icon" title="Telegram">
      <img src="{{ '/assets/images/telegram-black.svg' | relative_url }}" alt="Telegram" />
    </a>
    
    <a href="#" class="footer-icon" title="GitHub">
      <img src="{{ '/assets/images/github-black.svg' | relative_url }}" alt="GitHub" />
    </a>
  </div>
</footer>
