<div class="sidebar">
  <div class="sidebar-logo">
    <div class="logo-container">
      <a href="{{ site.baseurl }}/#hero-section">

        <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Logo" class="icon-logo" />
      </a>    </div>
  </div>
  <hr class="sidebar-divider" />
  <div class="sidebar-profile">
    <div class="profile-container">
        <img src="{{ '/assets/images/diode-icon.svg' | relative_url }}" alt="User Avatar" class="profile-image" />
    </div>
  </div>

  <div class="sidebar-navigation">
    <div class="nav-links">
      <a href="#hero-section" class="nav-link selected">HOME</a>
      <a href="#network-map-section" class="nav-link">NETWORK MAP</a>
      <a href="#technology-section" class="nav-link">TECHNOLOGY</a>
    </div>
  </div>

  <div class="sidebar-footer">
    <a href="https://www.youtube.com/channel/UC3b5voADiipUmq1Q-vtPKsA" class="sidebar-footer-icon" title="YouTube"
      target="_blank" rel="noopener noreferrer">
      <img src="{{ '/assets/images/youtube.svg' | relative_url }}" alt="YouTube" class="sidebar-footer-icon-svg" />
    </a>
    <a href="https://x.com/diode_chain" class="sidebar-footer-icon" title="X (Twitter)" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ '/assets/images/x.svg' | relative_url }}" alt="X" class="sidebar-footer-icon-svg" />
    </a>
    <a href="https://discord.gg/qdGCAKJdHs" class="sidebar-footer-icon" title="Discord" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ '/assets/images/icons/discord.svg' | relative_url }}" alt="Discord" class="sidebar-footer-icon-svg" />
    </a>
    <a href="https://github.com/diodechain" class="sidebar-footer-icon" title="GitHub" target="_blank"
      rel="noopener noreferrer">
      <img src="{{ '/assets/images/github.svg' | relative_url }}" alt="GitHub" class="sidebar-footer-icon-svg" />
    </a>
  </div>
  <hr class="sidebar-divider" />

  <div class="sidebar-footer-text">
    <p>© 2025 Diode Foundation </br> All Rights Reserved </p>
  </div>
</div>
<script>
  document.querySelectorAll('.nav-link').forEach(link => {
    link.addEventListener('click', function() {
      document.querySelectorAll('.nav-link').forEach(l => l.classList.remove('selected'));
      this.classList.add('selected');
    });
  });
</script>